.sliderThumb {
	position: absolute;
	top: 8px;
	width: 100%;
	height: 0.5rem;
	background: transparent;
	appearance: none;
	cursor: pointer;
}

.sliderThumb::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #6c5ce7;
	border: 2px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.sliderThumb::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #6c5ce7;
	border: 2px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	border: none;
}

.sliderThumb::-webkit-slider-track {
	background: transparent;
}

.sliderThumb::-moz-range-track {
	background: transparent;
}
